<% content_for(:autocomplete_javascript) do %>
  <%= javascript_tag do %>
    jQuery(function() {
        jQuery('#search_sites').on('keyup', search_sites);
    });

    function search_sites() {
        jQuery.get("search_sites", jQuery('#search_sites').serialize(), null, 'script');
    }
  <% end %>
<% end %>
<h1>Listing Sites Relationships</h1>
<p>
  <b>Search: </b><%= text_field_tag :search_sites %><br />

<h3>Existing Sites Relationships</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Site Name</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'sites_tbody' %>
  </tbody>
</table>
