// find the link whose href ends with "site=<the id of the site we're linking>"
jQuery('a[href$="site=<%= @site.id %>"').html('<%= link_to "X",
           { :controller => :citations, :action => :rem_citations_sites,
             :id => @citation.id, :site => @site.id },
           :remote => true %></td>');
