<h1>Existing Citations</h1>
<% form_for :citation, Citation.new, :url => { :action => "process_flow" } do |f| %>
  <p>
    <%= collection_select( :citation, :id, Citation.all, :id, :select_default, {:prompt => true}, { :multiple => true, :size => '5' } )%>
  </p>
  <p>
    <%= submit_tag "Select" %>
  </p>
<% end %>

<%= link_to "New citation", new_citation_path %>

