

<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Listing Posteriors</h1>
			</header>
      <div id="process_container">
        <div id="back"><%= link_to "<< Model Types", modeltypes_path %></div>
        <div id="new">Create new posteriors through PEcAn</div>
        <div id="forward"><%= link_to "Runs >>", runs_path %></div>
      </div>
      <br />
      <div id="simple_search_table" class="simple_search_table_1"><%= render 'index_table' %></div>

		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
