<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Site Groups</h1>
			</header>
      <div id="process_container">
        <div id="back">&nbsp;</div>
        <div id="new"><%= link_to 'New Site Group', new_sitegroup_path, :class => "button button-primary" %></div>
        <div id="next">&nbsp;</div>
      </div>
      <br />
      <div id="simple_search_table" class="simple_search_table_1"><%= render 'index_table' %></div>

		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
