.idea/
.bundle/
vendor/bundle
log
db_backups
vendor/plugins/restful-authentication/generators/authenticated/templates/site_keys.rb
config/database.yml
student_activity_record.rb
orig.public
test/fixtures/users.yml
local/counties-20110605
tmp/*
db_backups
local/counties-20110605
log
orig.public
.DS_Store
public/maps/*
config/initializers/site_keys.rb
.Rproj.user


