<!-- InstanceBeginEditable name="Full Width Content" -->
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
  <%= render 'search_form' %>
  <table class="table table-striped table-bordered table-hover datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
		  <thead>
        <%= render 'table_head' %>
    </thead>    
	  <tbody role="alert" aria-live="polite" aria-relevant="all">
        <%= render 'table_body' %>
	  </tbody>
	</table>
  
	<div class="row final_paginate_row">
      <%= render 'paginate_row' %>
    </div>
  </div>
</div>
