	  <div class="span6">
	    <div class="dataTables_info" id="DataTables_Table_0_info">
	      <%= page_entries_info @results %>
	    </div>
	  </div>
	  <div class="span6">
	    <div class="dataTables_paginate paging_bootstrap pagination alternate">
        <%= will_paginate @results %>
      </div>
