<div class="content" style="min-height: 380px">
  <div class="container">
	<div class="sixteen columns">
	  <header>
		<h1>Advanced Search</h1>
	  </header>
      <br />
      <div id="simple_search_table" class="simple_search_table_1"><%= render 'index_table' %></div>

		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
