<%= render 'map_markers' %>
<div class="content" style="min-height: 380px">
  <div class="container">
	<div class="sixteen columns">
	  <header>
		<h1>Advanced Search</h1>
	  </header>
      <br />
      
      <button type="button" id="toggle_map_display">Search Using Map</button>
      <button type="button" id="remove_map_location_filter" style="display: none; float: right">Remove Map Location Restriction</button>

      <br/>

      <style> /* MOVE TO STYLESHEET !!! */
        #map_canvas #legend {
            background-color: #fff;
            border: 1px solid #000;
            font-family: Arial, sans-serif;
            font-size: 12px;
            margin: 5px;
            padding: 10px 10px 8px;
        }
        #map_canvas #legend img {
            margin-right: 5px;
        }
      </style>
      <div id="map_canvas" style="width: 100%; height: 300px; display: none"></div>

      <script>
        var ajax_url = "<%= url_for controller: 'search', action: 'index' %>"
      </script>
      
      <br />

      <div id="simple_search_table" class="simple_search_table_1"><%= render 'index_table' %></div>

		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
