<%= render 'map_markers' %>
<div class="content" style="min-height: 380px">
  <div class="container">
	<div class="sixteen columns">
	  <header>
		<h1>Advanced Search</h1>
	  </header>
      <br />
      
      <button type="button" id="toggle_map_display">Search Using Map</button>

      <br/>
      
      <div id="map_canvas" style="width: 900px; height: 300px; display: none"></div>

      <script>
        var ajax_url = "<%= url_for controller: 'search', action: 'index' %>"
      </script>
      
      <br />

      <div id="simple_search_table" class="simple_search_table_1"><%= render 'index_table' %></div>

		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
