<% content_for(:autocomplete_javascript) do %>
  <%= javascript_tag do %>
    jQuery(function() {
        jQuery('#search_pfts').on('keyup', search_pfts);
    });

    function search_pfts() {
        jQuery.get("search_pfts", jQuery('#search_pfts').serialize(), null, 'script');
    }
  <% end %>
<% end %>
<h1>Listing Pfts Relationships</h1>
<p>
  <b>Search: </b><%= text_field_tag :search_pfts %><br />

<table id="pfts" class="relationships">
  <caption>Existing Pfts Relationships
    <%= link_to "Update",
        { controller: :priors, action: :edit, remote: true },
        { style: "display: none" } %></caption>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Definition</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'pfts_tbody' %>
  </tbody>
</table>
