<script type="text/javascript">
//<![CDATA[ 

    if (typeof(oldmap) != "undefined") {
      oldmap.setMap(null);
    }
    //var bounds = new google.maps.LatLngBounds(new google.maps.LatLng(17.884813,-179.14734), new google.maps.LatLng(71.3525606439998,179.627900206308));
    var bounds = new google.maps.LatLngBounds(new google.maps.LatLng(17.884813,-179.18734), new google.maps.LatLng(71.3225606439998,179.643000206308));
    oldmap = new google.maps.GroundOverlay("/bety/<%= crop -%>.png", bounds , { clickable: false });
    oldmap.setMap(map);
//]]>
</script>
        <br />
        <br />
        <%= image_tag "/#{crop}-scale.png" %>
        <br />
        <br />
        <span>Map last updated: <%= File.ctime("/rails/ebi/public/#{crop}.png").to_s(:long) -%></span>

