<div class="content">
	<div id="mapcont" class="container" style="margin: 10px 100px; width:70%">
		<div class="sixteen columns" style="width:100%">
			<header>
				<h1><span id="maptitle">Miscanthus Yield</span></h1>
			</header>
<div class="row">
  <select onchange="javascript: updatemap()" id="selectmap"> 
    <optgroup label="Cornstover">
      <option value=0> Cornstover Yield</option>
      <!--<option value=11> Cornstover Yield(grid)</option>  Does not exist-->
      <option value=5> Cornstover Cost </option>
      <option value=17>Cornstover AET</option>
    </optgroup>
    <optgroup label="Switchgrass">
      <option value=2 selected> Switchgrass Yield</option>
      <option value=14>Switchgrass Yield (grid) </option>
      <option value=7> Switchgrass Cost</option>
      <option value=15>Switchgrass AET</option>
    </optgroup>
    <optgroup label="Miscanthus">
      <option value=1>Miscanthus Yield</option>
      <option value=10>Miscanthus Yield (grid)</option>
      <option value=6>Miscanthus Cost</option>
      <option value=16>Miscanthus AET</option>
    </optgroup>
    <optgroup label = "Energycane">
      <option value=3> Energycane Yield</option>
      <option value=9>Energycane Yield (grid)</option>
      <option value=8> Energycane Cost</option>
    </optgroup>
    <optgroup label="Poplar">
      <option value=12>Poplar Yield (grid) </option>
    </optgroup>
    <optgroup label="Willow">
      <option value=13> Willow Yield (grid) </option>
    </optgroup>
  </select>

    <% if current_user != nil %>
    <a id='downloadbutton' href=''><button class="button"> Download</button></a>
    <% end %>
    </div>
    
     <div id="googft-mapCanvas" style=" width: 100%; height: 600px"></div>  
      <div id="googft-legend">
        </div>
      </div><!-- legend -->
      

    <style> /* MOVE TO STYLESHEET !!! */
    h1 { /* Only screenreaders should see this */
        position: absolute;
        left: -10000px;
    }
    a#downloadbutton {
        float: right;
    }
    #googft-mapCanvas img{max-width:none;}
    #googft-legend{background-color:#fff;border:1px solid #000;font-family:Arial, sans-serif;font-size:12px;margin:5px;padding:10px 10px 8px;}#googft-legend p{font-weight:bold;margin-top:0;}#googft-legend div{margin-bottom:5px;}.googft-legend-swatch{border:1px solid;float:left;height:12px;margin-right:8px;width:20px;}.googft-legend-range{margin-left:0;}.googft-dot-icon{margin-right:8px;}.googft-paddle-icon{height:24px;left:-8px;margin-right:-8px;position:relative;vertical-align:middle;width:24px;}.googft-legend-source{margin-bottom:0;margin-top:8px;}.googft-legend-source a{color:#666;font-size:11px;}
    </style>

<%= javascript_include_tag 'mylibs/maps.js' %>
  <br>
 
      
      
    <script type="text/javascript">
    // Place your application-specific JavaScript functions and classes here
// This file is automatically included by javascript_include_tag :defaults





  var minZoomLevel = 4;
  var geocoder;
  var address;
  var latlng = new google.maps.LatLng(37.09024, -95.712891);
  var myOptions = {
    zoom: minZoomLevel,
    streetViewControl: false,
    mapTypeControl: false,
    panControl: false,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var overlayOptions = {
    opacity: 0.6,
  }

  // Google coordinate plane increases in the positive number direction left to right
  // map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

/////////// setup of bz_sugarcane map
  //var bz_sugarcane_bounds = new google.maps.LatLngBounds(
  //  new google.maps.LatLng(-45,-135), // south-west
  //  new google.maps.LatLng(65,-25) // north-east

  //);
  //var bz_sugarcane = new google.maps.GroundOverlay( '../images/yield_maps/sugarcane.png', bz_sugarcane_bounds, overlayOptions );
  //bz_sugarcane.setMap(map);


/////////// setup of us_miscanthus map  
  // var us_miscanthus_bounds = new google.maps.LatLngBounds(
  //   new google.maps.LatLng(-45,-135), // south-west
  //   new google.maps.LatLng(65,-25) // north-east
  // );
  // var us_miscanthus = new google.maps.GroundOverlay( '../images/yield_maps/us_miscanthus.png', us_miscanthus_bounds, overlayOptions );
  // us_miscanthus.setMap(map);
  
  

  
  
  
  
  
  //overlay = [];
  
  // Bounds for A single map
   // var strictBounds = new google.maps.LatLngBounds(
   //   new google.maps.LatLng(-70, -170), // bottom-left
   //   new google.maps.LatLng(70, 170)   // top-right
   // );

   // Listen for the map click events
   // google.maps.event.addListener(map, 'dragend', function() {
   //   if (strictBounds.contains(map.getCenter())) return;

   //   // We're out of bounds - Move the map back within the bounds
   //   var c = map.getCenter(),
   //       x = c.lng(),
   //       y = c.lat(),
   //       maxX = strictBounds.getNorthEast().lng(),
   //       maxY = strictBounds.getNorthEast().lat(),
   //       minX = strictBounds.getSouthWest().lng(),
   //       minY = strictBounds.getSouthWest().lat();

   //   if (x < minX) x = minX;
   //   if (x > maxX) x = maxX;
   //   if (y < minY) y = minY;
   //   if (y > maxY) y = maxY;

   //   map.setCenter(new google.maps.LatLng(y, x));
   // });

  // // Limit the zoom level
  // google.maps.event.addListener(map, 'zoom_changed', function() {
  //   if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
  // });
  
  markersArray = [];


    
    
    
    
    </script>


		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
