<div class="content">
  <div class="container">
	<div class="sixteen columns">
	  <header>
		<h1>Sites from Search</h1>
	  </header>

      <div id="map_canvas" style="width: 700px; height: 300px"></div>

      <h3>Radius : <select id="radius">
          <option value="20">20</option>
          <option value="40">40</option>
          <option value="60">60</option>
          <option value="80">80</option>
          <option value="100">100</option>
          <option value="200" selected >200</option>
        </select> miles</h3>

      <h2>Listing sites</h2>

      <div id="show_sites" style="display:none">
      </div>
      <script>
        var ajax_url = "<%= url_for controller: 'maps', action: 'show_sites' %>"
      </script>
	</div> <!-- class="sixteen columns" -->
  </div> <!-- container -->
</div>
