<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Sites with Yield Data</h1>
			</header>

      <div id="map_canvas" style="width: 700px; height: 400px"></div>

      <br />

      <div id="show_yields">
        <i>Click site bubble to see corresponding Yield data</i>
      </div>

      <% javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA9Ac4XswpkdjIslQcRJzgwnbkEDdomZS4&sensor=false" %>
      <% javascript_include_tag "/javascripts/yields_from_sites.js" %>

		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
