<% if @trait.covariates.size>0 %>
<table width="100%"> 
        <tr align="left"> <th>Variable</th><th>Level</th><th align="center" colspan="2">Actions</th> </tr>
          <% @trait.covariates.each do |c| %>
            <tr>
              <td><%= link_to_if c.variable, c.variable, c.variable %></td>
              <td><%= c.level %></td>
              <td><%= link_to 'unlink',{:action =>:unlink_covariate, :id =>@trait.id, :covariate =>c }, :confirm => 'Are you sure?', :remote=>true %></td>
              <td><%= link_to "edit", edit_covariate_path(c.id) %></td>
             </tr>
          <% end %>
   
</table>
<% end %>