<div class="row">
  <div class="eight columns alpha">
    <%= label_tag :variable_id %>
    <%= select_tag 'covariate[][variable_id]', options_for_select(["",""] + Variable.order('name').collect { |p| [ p.name_units, p.id ] }) %>
  </div>
  <div class="four columns omega">
    <%= label_tag :level %>
    <%= text_field_tag 'covariate[][level]' %>
  </div>
</div>
