    <p>
      <%= label_tag :variable_id %><br />
      <%= select_tag 'covariate[][variable_id]', options_for_select(["",""] + Variable.order('name').collect { |p| [ p.name_units, p.id ] }) %>
    </p>
    <p>
      <%= label_tag :level %><br />
      <%= text_field_tag 'covariate[][level]' %>
    </p>
