<% content_for(:autocomplete_javascript) do %>
  <%= javascript_tag do %>
    jQuery(function() {
        jQuery('#search_priors').on('keyup', search_priors);
    });

    function search_priors() {
        jQuery.get("search_priors", jQuery('#search_priors').serialize(), null, 'script');
    }
  <% end %>
<% end %>
<h1>Listing Priors Relationships</h1>
<p>
  <b>Search: </b><%= text_field_tag :search_priors %><br />

<table id="priors" class="relationships">
  <caption>Existing Priors Relationships
    <%= link_to "Update",
        { controller: :pfts, action: :edit, remote: true },
        { style: "display: none" } %></caption>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Variable</th>
      <th>Distribution</th>
      <th>Param a</th>
      <th>Param b</th>
      <th>Phylogeny</th>
      <th>Citation</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'priors_tbody' %>
  </tbody>
</table>
