<h2>Related Species</h2>


<table>
  <tr>
    <th>Scientific Name</th>
    <th>Genus</th>
    <th>Species</th>
  </tr>
  <% @pft.specie.limit(100).each do |c| %>
  <tr>
    <td><%= c.scientificname %></td>
    <td><%= c.genus %></td>
    <td><%= c.species %></td>
    <td><%= link_to "Show", c %></td>
  </tr>
  <% end %>
</table>
