// find the link whose href ends with "pft=<the id of the pft we're linking>"
jQuery('a[href$="pft=<%= @pft.id %>"]').html('<%= link_to "X",
           { :controller => :species, :action => :rem_pfts_species,
             :id => @species.id, :pft => @pft.id },
           :remote => true %></td>');
