// find the link whose href ends with "pft=<the id of the pft we're unlinking>"
jQuery('a[href$="pft=<%= @pft.id %>"]').html('<%= link_to "+",
           { :controller => :species, :action => :add_pfts_species,
             :id => @species.id, :pft => @pft.id },
           :remote => true %></td>');

// Ensure the link for updating the list is visible now that we've unlinked
// something:
jQuery('table#pfts caption a').show()
