<h2>Associated Variables</h2>


<table>
  <tr>
    <th>Name</th>
    <th>Units</th>
    <th>Description</th>
  </tr>
  <% @input.variables.all(:limit => 100).each do |c| %>
  <tr>
    <td><%=h c.name %></td>
    <td><%=h c.units %></td>
    <td><%=h c.description %></td>
    <td><%= link_to "Show", variable_path(c) %></td>
  </tr>
  <% end %>
</table>
