

/* bulk upload layout */

.container.csv_display table {
    margin-left: auto;
    margin-right: auto;
}

.container.csv_display table caption {
    height: 4em;
    font-weight: bold;
    font-size: larger;
}

.container.csv_display div#process_container {
    margin-bottom: 1em;
}

.container.csv_display header {
    width: 850px;
    margin: auto;
}

h2.file_info {
    padding: 0 0 10px
}

.file_info {
  text-align: center;
  font-weight: bold;
}



/* errors and warnings */

#error_explanation {
    width:850px;
    margin: auto;
    color: #f00;
}

#warning_explanation {
    width:850px;
    margin: auto;
    color: #c90
}

#error_explanation ul,
#warning_explanation ul {
  list-style: none;
  margin: 10px 0px 18px 0;
}



/* validation */

td.valid { background-color: lightgreen }

td.ignored { background-color: grey }

#error_explanation li.non_unique_referent { color: orange }
td.non_unique_referent { background-color: orange }

#error_explanation li.missing_referent { color: deeppink }
td.missing_referent { background-color: deeppink }

#error_explanation li.missing_correlative { color: tomato }
td.missing_correlative { background-color: tomato }

#error_explanation li.unacceptable_date_format { color: pink }
td.unacceptable_date_format { background-color: pink }

#error_explanation li.invalid_date { color: purple }
td.invalid_date { background-color: purple }

#error_explanation li.inconsistent_correlatives { color: #B2B200 }
td.inconsistent_correlatives { background-color: #B2B200 }

#error_explanation li.out_of_bounds { color: #a8a }
td.out_of_bounds { background-color: #aa88aa }

#error_explanation li.unparsable_number { color: blue }
td.unparsable_number { background-color: blue }