.content h1 {
	border-bottom: 1px solid #eee;
	padding-bottom: 9px;
	margin-bottom: 22px;
	font-size: 28px;
	line-height: 1em;
	color: #007eac;
	}
.content h1 em {
	font-weight: normal;
	font-style: normal;
}
.content h2 {
	font-size: 20px;
	line-height:normal;
	}
.content h3 {
	font-size: 14px;
	line-height:normal;
	color: #83969d;
	}
.content h3 em {
	font-weight: normal;
	font-style:normal;
}
.home .content h3 {
	color: #007eac;
}
.home img.pull-right {
	height: 121px;
}

.home .well {
margin-top: 20px;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
		 -moz-border-radius: 0;
					border-radius: 0;
	-webkit-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.1);
		 -moz-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.1);
					box-shadow:  0 1px 7px rgba(0, 0, 0, 0.1);
}
.home .well form {
	margin-top: 0;
	margin-bottom: -10px;
}
.home .well form legend {
	margin-bottom: 0;
	color: #555;
}
.home .well form .form-actions {
	margin-bottom: 0;
	padding-left: 0;
}

.the-icons {
	font-size: 87%;
}
.the-icons i {
	font-size: 100%;
}

.content h4 {
font-size: 13px;
line-height:normal;
}
/* Grid */
	#grid .column,
	#grid .columns {
		background: #ddd;
		height: 80px;
		line-height: 80px;
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		color: #555;
		font-size: 12px;
		font-weight: bold;
		-moz-border-radius: 2px;
		 -webkit-border-radius: 2px;
		 border-radius: 2px; }
	#grid .column:hover,
	#grid .columns:hover {
		background: #bbb;
		color: #333; }
	#grid { 
		}


	.resize {
		position: fixed;
		bottom: 0;
		right: 0;
		height: 80px;
		width: 80px;
		background: url(../../stylesheets/images/resize.png); }


	img {
		max-width: 100%;
		height: auto; }
		


	hr.large {
		border: none;
		height: 8px;
		background: #ebebeb;
		margin: 30px 0;
		}
	
	
	
	
	
	
	
	

/*------------------------------------------------------------------
 
Bootstrap Styles

------------------------------------------------------------------- */

/* Accordion  */
.accordion-group {
  border: none;
}
.accordion-group .accordion-heading {
  color: #444444;
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
}
.accordion-group .accordion-heading:hover {
	background-color: #ddd;
}
.accordion-group .accordion-heading a {
  color: #444444;
  font-size: 13px;
  font-weight: 600;
  
  color: #438016;
  text-decoration: none;
}
.accordion-group .accordion-heading a:hover {
	color: #222;
	text-decoration: none;
}


.accordion-group.open .accordion-heading {
  color: #ffffff;
  background-color: #777;
  border-color: #888;
}
.accordion-group.open .accordion-heading:hover {
	background-color: #777;
}
.accordion-group.open .accordion-heading a {
  color: #ffffff;
}
.accordion-group.open .accordion-heading:hover a {
	color: #ddd;
}

.accordion-inner {
  border: 1px solid #dddddd;
	border-top-color: transparent;
}



/* Modals */
.modal {
  border: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.modal-header {
  padding: 15px;
  background-color: #222;
  background-image: -moz-linear-gradient(top, #555, #111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#111));
  background-image: -webkit-linear-gradient(top, #555, #111);
  background-image: -o-linear-gradient(top, #555, #111);
  background-image: linear-gradient(to bottom, #555, #111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff111111', GradientType=0);
  border: 1px solid #0f1b28;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5,
.modal-header h6 {
  margin-bottom: 0;
}
.modal-header h3 {
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.modal-header .close {
  margin-top: -4px;
  color: #ffffff;
  font-size: 18px;
  opacity: 1;
  filter: alpha(opacity=100);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.modal-header .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.modal-backdrop {
	background-color: #aaa;
}

.header {
	background: #dfdfdf url("../images/bg-grain-grey.jpg") top left repeat;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
}
.header h1 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	font-weight: 100;
	line-height: 14px;
	margin-top: 20px;
}
.header h1 a {
	text-decoration: none;
	color: #444;
}
.header h1 a:hover{
	color: #438016;
}
.header .org {
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	text-align: right;
	display: inline-block;
	background: url(../images/logo-ebi.png) top right no-repeat;
	padding-right: 45px;
	height: 46px;
	padding-top: 4px;
	float: left;
	margin-bottom: 20px;
}
.header .site {
	font-size: 23px;
	display: inline-block;
	letter-spacing: -1px;
	line-height: 50px;
	margin-left: 8px;
}
.header small {
	border-left: 1px solid #999;
	padding-left: 11px;
	margin-left: 6px;
	color: #888;
	display: none;
	font-size: 22px;
}
.header small strong {
	font-weight: 100;
	color: #444;
}
body > .nav {
	background: #505050 url("../images/bg-nav.jpg") top left repeat-x;
	color: #fff;
	height: 75px;
	padding-top: 6px;
}
.content {
	background-color: #fff;
}
.content .container {
	padding-top: 20px;
	padding-bottom: 40px;
}



.content .sidenav {
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.15);
          box-shadow: 0 1px 4px rgba(0,0,0,.15);
  
  margin-bottom: 15px;
}
.sidenav > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
  font-weight: bold;
  font-size: 90%;
  text-decoration: none;
  color: #666;
  
  background-color: #e6e6e6;
  *background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
  background-repeat: repeat-x;
}
.sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  
  background-color: #363636;
  *background-color: #444;
  background-image: -moz-linear-gradient(top, #777, #444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777), to(#444));
  background-image: -webkit-linear-gradient(top, #777, #444);
  background-image: -o-linear-gradient(top, #777, #444);
  background-image: linear-gradient(to bottom, #777, #444);
  background-repeat: repeat-x;
}

.sidenav > li > a:hover {
  color: #222;
  text-decoration: none;
  background-image: none;
}
.sidenav > li.active > a:hover {
  background-color: #222222;
  *background-color: #151515;
  background-image: none;
}

/* Chevrons */
.sidenav .icon-chevron-right {
  float: right;
  margin-top: 4px;
  margin-right: -6px;
  opacity: .25;
}
.sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.sidenav .active .icon-chevron-right,
.sidenav .active a:hover .icon-chevron-right {
  background-image: url(../images/glyphicons-halflings-white.png);
  opacity: 1;
}
.sidenav.affix {
  top: 40px;
}
.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}



.sidenav .divider {
	height: auto;
margin: 0;
overflow: visible;
padding: 14px 14px 2px;
font-weight: bold;
font-size: 80%;
color: #aaa;
text-transform: uppercase;
background-color: #fff;
border: 1px solid #e5e5e5;
border-bottom-color: transparent;
}

.footer {
	background: #efefef;
	border-top: 1px solid #ddd;
	padding: 20px 0;
	
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
}
.footer h2 {
	display: none;
}

.footer h3 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	font-weight: 100;
	font-size: 15px;
	line-height:normal;
	margin-top: 0;
	padding-top: 0;
}
.footer h3 strong {
	color: #666;
}
.footer ul li {
	margin-bottom: 0;
	font-size: 12px;
}
.footer a {
	text-decoration: none;
	font-weight: bold;
	color: #666;
	}
.footer #google_translate_element a {
	font-weight: normal;
	color: #666;
}

.footer #google_translate_element a:hover {
	text-decoration: none;
	color: #111;
}
.footer a:hover {
	color: #111;
	text-decoration: underline;
}

.footer .six.columns.omega {
	text-align: center;
	color: #999;
	padding-top: 40px;
	line-height: 13px;
	font-size: 11px;
	background: url("../images/logo-ebi-footer.jpg") top center no-repeat;
}
.footer .six.columns.omega p:first-child {
	margin-bottom: 10px;
}

.footer .footnotes a {
	font-size: 15px;
	color: #bbb;
	display: inline-block;
}
.footer .footnotes a:hover {
	color: #444;
	text-decoration: none;
	}

.footer hr {
	border-top-color: #ddd;
	border-bottom-color: #efefef;
}

.footer .version_info h3 {
    margin-bottom: 2px;
}

.footer .version_info .identifier {
    font-weight: bold;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {				
		div.dataTables_wrapper .ui-widget-header {
			height: 68px;
		}
		.dataTables_filter {
			position: relative;
		}
		.dataTables_filter, .dataTables_paginate {
			text-align: center;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.footer .six.columns.omega {
			text-align: left;
			background-image: none;
			padding-top: 20px;
			border-top: 1px solid #ddd;
			margin-top: 20px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		.footer .six.columns.omega {
			text-align: left;
			background-image: none;
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid #ddd;
		}
	}
	
	@media only screen and (min-width: 768px) {
	  .header small { display: inline; }
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.header .site {
			
			position: absolute;
			top: 21px;
			left: 142px;
			font-size: 0.36em;
			line-height: 1em;
		}
		.header .site a {
		}
		.header .site small {
			font-size: 19px;
		}
	  .header small { display: block;  border: 0; padding: 0; margin: 0;}
	}
	@media only screen and (min-width: 960px) {
		
		.footnotes {
			margin-left: 50px;
			margin-right: -50px;
		}
	  .footer .footnotes .columns {
		  text-align: center;
		  padding-bottom: 20px;
	  }
	  .footer .footnotes a {
		  display: inline-block;
		  height: 69px;
		  opacity: 0.5;
		  
		  /* new image replacement: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
		  text-indent: 200%;
		  white-space: nowrap;
		  overflow: hidden;
	  }
	  .footer .footnotes a.illinois {
		  background: url(../images/logo-illinois.png) 0 0 no-repeat;
		  width: 246px;
	  
	  }
	  .footer .footnotes a.berkeley {
		  background: url(../images/logo-berkeley.png) 0 0 no-repeat;
		  width: 145px;
		  margin-left: 20%;
	  }
	  .footer .footnotes a.lbl {
		  background: url(../images/logo-lbl.png) 0 0 no-repeat;
		  width: 232px;
	  
	  }
	  .footer .footnotes a.bp {
		  background: url(../images/logo-bp.png) 0 0 no-repeat;
		  width: 54px;
		  margin-right: 40%;
	  }
	  .footer .footnotes a:hover {
		  opacity: 1;
		  text-decoration: none;
	  }
	}
