/* screen-layout.css */



/* Hide some stuff from the visual layout */

hr, 						/* hide accessibility HRs */
div#imark,					/* hide accessibility I-mark */
div#navigation h2,			/* hide accesibility H2s */
div#section h2,
.access,					/* hide other accessibility elements */
div#banner a.las, 			/* hide LAS link */
body.home div#content h1 	/* hide homepage h1 */
{
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin: 0;
}

div#content hr, 					/* unhide HRs in content */
body.internal div#navigation h2		/* unhide internal H2 */
{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}



/* Clearfix */

div#navigation:after, 
div#section ul:after, 
div#content-wrapper:after,
div#footer:after,
body.home div#home-intro:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
	line-height: 1px;
	height: 0;
	font-size: 1px;
}

div#navigation,
div#section ul, 
div#content,
div#footer,
body.home div#content-wrapper,
body.home div#home-intro
{
	display: inline-block;
}

html[xmlns] div#navigation,
html[xmlns] div#section ul, 
html[xmlns] div#content,
html[xmlns] div#footer,
html[xmlns] body.home div#content-wrapper,
html[xmlns] body.home div#home-intro
{
	display: block;
}

* html div#navigation,
* html div#section ul, 
* html div#content, 
* html div#footer,
* html body.home div#content-wrapper,
* html body.home div#home-intro
{
	height: 1%;
}



/* Page layout */

body {
	background: #fff;
	text-align: center;
}

/* title */

div#banner {
	/*width: 820px;*/
	height: 142px;
	/*background: transparent url(../images/banner-stripes.gif) bottom right no-repeat;*/
	background: transparent url(../images/banner.gif) top repeat-x;
}

div#banner-wrapper {
	position: relative;
	width: 820px;
	height: 140px;
	margin: 0 auto;
	/*background: transparent url(../images/header/weevil.gif) bottom right no-repeat;*/  /* screen-header.css defines the different background images for each section  */
	background: transparent  bottom right no-repeat;
}

div#banner h1 {
	/*width: 470px;*/
	height: 140px;
	font-size: 1px;
	margin: 0;
	text-indent: -9999px;
	/*background: #2e74ba url(../images/banner.gif) top repeat-x;*/
}

div#banner a.lab {
	position: absolute;
	left: 16px;
	top: 63px;
	display: block; 
	width: 708px;
	height: 68px;
	text-indent: -9999em;
	background: transparent url(../images/lab.gif) top left no-repeat;
}

div#banner a.lab:link, div#banner a.lab:visited {
	background-position: 0 0;
}
div#banner a.lab:hover, div#banner a.lab:active {
	background-position: 0 0px;
}

div#banner a.illinois {
	position: absolute;
	left: 19px;
	top: 12px;
	display: block;
	width: 300px;
	height: 40px;
	text-indent: -9999em;
	background: transparent url(../images/illinois.gif) top left no-repeat;
}

div#banner a.illinois:link, div#banner a.illinois:visited {
	background-position: 0 0;
}
div#banner a.illinois:hover, div#banner a.illinois:active {
	background-position: 0 0;
}

/* main navigation */

div#navigation {
	min-width: 820px;
	padding-bottom: 5px;
	background: #6fa7d4 url(../images/navigation.gif) bottom repeat-x;
	font-family: Georgia, Georgia Ref, serif;
	font-size: 1.4em;
}

div#navigation-wrapper {
	position: relative;
	top: -2px;
	width: 700px;
	margin: 0 auto;
	padding: 0;
	text-align: left;

}

	body.internal div#navigation h2 {
		display: block;
		float: left;
		height: 1.3em;
		width: 3.8em;
		margin: 0 0.4em 0 0;
		padding: 0.8em 14px 0.5em 13px;
		font-size: 1.0em;
		color: #d7ecf8;
		background: transparent url(../images/internal.png) top left repeat-x;
	}

div#navigation ul {
	margin: 0;
	padding: 0;
}

div#navigation li {
	display: block;
	float: left;
	margin: 0;
}

div#navigation a {
	display: block;
	padding-top: 2px;
	background: top repeat-x;
}
	div#navigation a:link, div#navigation a:visited {
		background-color: transparent;
		background-image: none;
		color: #034c84;
	}
	div#navigation a:hover, div#navigation a:active {
		background-color: transparent;
		color: #066697;
	}

div#navigation a strong {
	display: block;
	padding: 0.65em 13px 0.8em 13px;
	font-weight: normal;
	background: transparent bottom repeat-x;
}
	div#navigation a:link strong, div#navigation a:visited strong {
		background-image: none;
	}
	div#navigation a:hover strong, div#navigation a:active strong {
                color: #fff;
		background: transparent;
	}


div#navigation li.current a, 
body.home div#navigation a.home,
body.news div#navigation a.news,
body.people div#navigation a.people,
body.projects div#navigation a.projects,
body.publications div#navigation a.publications,
body.courses div#navigation a.courses,
body.resources div#navigation a.resources,
body.contact div#navigation a.contact,
body.internal div#navigation a.internal
{
	background-color: #92bbdd;
	background-image: url(../images/navigation-current-top.gif);
	color: #5687ac;
}

div#navigation li.current a strong, 
body.home div#navigation a.home strong,
body.news div#navigation a.news strong,
body.people div#navigation a.people strong,
body.projects div#navigation a.projects strong,
body.publications div#navigation a.publications strong,
body.courses div#navigation a.courses strong,
body.resources div#navigation a.resources strong,
body.contact div#navigation a.contact strong,
body.internal div#navigation a.internal strong
{
	background-image: url(../images/navigation-current-bottom.gif);
}

/* section navigation */

div#section {
	position: relative;
	top: -7px;
	min-width: 820px;
	background: #ebf8fd url(../images/section.gif) top repeat-x;
	font-size: 1.1em;
}

div#section-wrapper {
	min-width: 820px;
	background: transparent url(../images/section-wrapper.gif) bottom repeat-x;
}

div#section ul {
	width: 804px;
	margin: 0 auto;
	padding: 0 0 0.65em 0;
	list-style: none;
	text-align: left;
}

div#section li {
	display: block;
	float: left;
	margin: 0;
	/*padding-bottom: 0.25em*/
}

div#section li a {
	display: block;
	padding: 0.7em 12px 0.3em 12px;
	background: transparent top repeat-x;
}
	div#section li a:link, div#section li a:visited { background-image: none; color: #0b6bb4; }
	div#section li a:hover, div#section li a:active { background-image: url(../images/section-hover.png); color: #37a2cf; }
	div#section li.current a, div#section li a.current { background-image: url(../images/section-current.png); color: #7fa6c3; }
	div#section li a:active { color: #76c5e6 }

/* secondary page content */

div#content {
	background: transparent url(../images/content.gif) bottom repeat-x;
	min-width: 820px;
}

div#content-wrapper {
	width: 780px;
	margin: 0 auto;
	padding: 0.7em 0 2.0em 0;
	text-align: left;
}

/* home page content */

body.home div#content-wrapper {
	width: 820px;
	min-height: 600px;
	position: relative;
	top: -7px;
	background: transparent url(../images/home.jpg) top left no-repeat;
}

div#home-statement {
	float: right;
	width: 286px;
	margin-right: 27px;
	color: #fff;
}

	div#home-statement blockquote {
		margin: 10px -14px 0 -14px;
		padding: 0.5em 14px;
		background: transparent url(../images/home-open-quote.png) top left no-repeat;
		text-indent: 24px;
	}

	div#home-statement blockquote p.highlight {
		font-size: 1.15em;
	}

	div#home-statement blockquote p.closequote {
		margin-bottom: 0.5em;
		margin-right: -14px;
		padding-right: 14px;
		background: url(../images/home-close-quote.png) bottom right no-repeat;
	}
	
	div#home-statement blockquote a:link { color: #b6e0ff }
	div#home-statement blockquote a:visited { color: #b6e0ff }
	div#home-statement blockquote a:hover { color: #cdeeff }
	div#home-statement blockquote a:active { color: #e8f6fc }
	
	div#home-statement p.credit {
		margin-top: 0;
	}
	
	div#home-statement p.credit a:link { color: #025899 }
	div#home-statement p.credit a:visited { color: #025899 }
	div#home-statement p.credit a:hover { color: #0e78a5 }
	div#home-statement p.credit a:active { color: #208dbb }

div#home-publications {
	float: left;
	width: 440px;
	margin-left: 20px;
}

div#home-news {
	float: right;
	width: 300px;
	margin-right: 20px;
}
	
	div#home-publications h2, div#home-news h2 {
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 0.6em;
		padding: 0 10px 0.2em 10px;
		background: transparent url(../images/header-border.png) bottom repeat-x;
	}
	
	div#home-publications h2 {
		margin-right: -20px;
		padding-right: 20px;
	}
	
	div#home-news h2 {
		margin-left: -20px;
		padding-left: 20px;
	}
	
	div#home-publications ul, div#home-news ul,
	div#home-publications li, div#home-news li
	{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		list-style: none;
	}
	
	div#home-publications li, div#home-news li {
		margin-top: 1.0em;
		margin-bottom: 1.0em;
	}

/* footer */

div#footer {
	min-width: 820px;
	background: #bfdaef url(../images/footer.gif) bottom repeat-x;
}

div#footer-wrapper {
	width: 780px;
	margin: 0 auto;
	padding: 0.7em 0 1.4em 0;
	text-align: left;
	color: #034c84;
}

div#footer p {
	margin-top: 0.65em;
	margin-bottom: 0.65em;
} 



/* Special Layout Elements */

/* slideshows */

div#home-slideshow, div#cowpea-slideshow {
	position: relative;
	float: left;
	width: 480px;
	height: 320px;
}
div#home-slideshow {
	margin-top: 10px;
}
div#cowpea-slideshow {
	margin-bottom: 10px;
}
div#louse-slideshow {
	position: relative;
	width: 640px;
	height: 320px;

	margin-bottom: 10px;
}
div#catscan-slideshow {
	position: relative;
	float: right;
	width: 300px;
	height: 225px;
	margin-left: 20px;
	margin-bottom: 10px;
}
div#catscan-slideshow-wrapper {
	width: 300px;
	height: 225px;
}
	div#home-slideshow p, div#cowpea-slideshow p {
		position: absolute;
		bottom: 0;
		background: transparent url(../images/caption-bg.png) repeat;
		width: 450px;
		margin: 0;
		padding: 7px 10px 12px 20px;
		font-size: 1.0em;
	}
	div#catscan-slideshow p {
		position: absolute;
		bottom: 0;
		background: transparent url(../images/caption-bg.png) repeat;
		width: 280px;
		margin: 0;
		padding: 7px 10px 12px 10px;
		font-size: 1.0em;
	}

div#cowpea-text {
	width: 280px;
	float: right;
	padding-left: 20px;
}

/* profile pages */

div.contact-info {
	float: right;
	width: 200px;
	margin: 0 -10px 20px 20px;
	padding: 15px 15px 0 15px;
	background: #D3E3EE;
}
	div.contact-info img {
		margin-bottom: 10px;
	}

/* Flowplayer Video Player */

/*a.videoPlayer {
      display:block;
      width:320px;
      height:240px;
      text-align:center;
      margin:0 15px 15px 0;
      float:left;
    }*/


