<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Name:</p>
  <p><%= @sender_name %></p>
  <p>Message:</p>
  <p><%= @email_body %></p>
</body>
</html>