<div id="process_container">
  <div id="back"><%= link_to "<< View Upload File", show_upload_file_contents_path %></div>
  <div id="new">&nbsp;</div>
  <div id="forward">
    <%= link_to "Insert Data >>", bulk_upload_data_insertion_path %>
  </div>
