<style>
  .column_name { font-weight: bold }
</style>
<%= form_tag({ action: :confirm_data }) do %>
  <%= submit_tag("Confirm Data") %>
  <table>
    <tbody>
      <% @displayed_columns.each do |column| %>
      <tr>
        <td>To compute</td>
        <td class="column_name"><%= column.name %></td>
        <td><%= raw(default_source_for(column.name)) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

