

<!-- Narrow Search Options -->
  <div class="yui-b"><div class="box submenu narrow">

             <h2>Results for</h2>
        <ul class="filters">
     
               
        <li>

                  Library: "University of Illinois at Urbana-Champaign"
                                       <a href="/all/vf-uiu/Search/Home?lookfor=sql&type=all&hathi=1"> <span class="italic">[show all Libraries]</span></a>
                      </li>

               

             </ul>
        <br/>
     
    <h2>Narrow Your Search</h2>
    <style>
      dd { padding-left: .5em }
      </style>
      <dl class="narrowList navmenu" id="narrowList">
        <dl>
          <dt>Site</dt>
          <dd><a>Latj....</a></dd>
        </dl>
        <dl>
          <dt>Species</dt>
          <dd><a>miscanthus</a></dd>
        </dl>
        <dl>
          <dt>Trait</dt>
          <dd>1</dd>
          <dd>2</dd>
        </dl>
      </dl>
    </div>
  </div>
  <!-- End Narrow Search Options -->
