<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Listing Yields</h1>
			</header>
      <div id="process_container">
        <div id="back"><br /></div>
        <div id="new"><%= link_to 'New Yield', new_yield_path, :class => "button button-primary"  %></div>
        <div id="forward"><%= link_to "Sites >>", sites_path %></div>
      </div>
      <br />
      <div id="simple_search_table" class="simple_search_table_1"><%= render 'index_table' %></div>

		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
