<p>Sorry no file found or something wrong with the path to the file</p>
<br />
<p>Please contact a system administrator if you think this is an error</p>
<br />
<%= link_to 'Return to index', files_path %>
