
table.moduletable {
/*  width: 100%;*/
  padding: 0px;
  margin: 0px;
  text-align:left;
}

table.moduletable th { 
  font: bold 14px Tahoma, Arial, Helvetica, sans-serif;
  letter-spacing: +0px;
  line-height: 20px;
  color: #4891ba;
  text-transform: uppercase;
  text-align: left;
}

table.moduletable td {
  margin-bottom: 15px;
  margin-left:0px; padding: 0px;
}

table.moduletable a.topmenu_l0oout, table.moduletable .topmenu_l0oout, a.topmenu_l0oout, .topmenu_l0oout {
  text-decoration: none !important;
  background: #FFFFFF;
}

table.moduletable a.topmenu_l0oover, table.moduletable .topmenu_l0oover, a.topmenu_l0oover, .topmenu_l0oover {
  text-decoration: none !important;
  background: #FFFFFF;
}

table.moduletable div.topmenu_l0iout, table.moduletable .topmenu_l0iout, div.topmenu_l0iout, .topmenu_l0iout {
  font-size: 10pt;
  font-family: tahoma,verdana,arial;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  background: #0068b3;
  color: #FFFFFF;
}

table.moduletable div.topmenu_l0iover, table.moduletable .topmenu_l0iover, div.topmenu_l0iover, .topmenu_l0iover {
  font-size: 10pt;
  font-family: tahoma,verdana,arial;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  background: #439539;
  color: #FFFFFF;
}

table.moduletable a.topmenu_l1oout, table.moduletable .topmenu_l1oout, a.topmenu_l1oout, .topmenu_l1oout {
  position: absolute;
  text-decoration: none !important;
  background: transparent;
}

table.moduletable a.topmenu_l1oover, table.moduletable .topmenu_l1oover, a.topmenu_l1oover, .topmenu_l1oover {
  text-decoration: none !important;
  background: transparent;
}

table.moduletable div.topmenu_l1iout, table.moduletable .topmenu_l1iout, div.topmenu_l1iout, .topmenu_l1iout {
  font-size: 9pt;
  font-family: tahoma,verdana,arial;
  font-weight: bold;
  text-align: left;
  text-decoration: none !important;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 7px;
  padding-right: 0px;
  padding-bottom: 7px;
  padding-left: 3px;
  background: #439539;
  color: #FFFFFF;
}

table.moduletable div.topmenu_l1iover, table.moduletable .topmenu_l1iover, div.topmenu_l1iover, .topmenu_l1iover {
  font-size: 9pt;
  font-family: tahoma,verdana,arial;
  font-weight: bold;
  text-align: left;
  text-decoration: none !important;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 7px;
  padding-right: 0px;
  padding-bottom: 7px;
  padding-left: 3px;
  background: #ffd24f;
  color: #FFFFFF;
}

div.popup {
  max-width: 650px;
  border: 1px solid red;
  padding: 5px;
  background-color: white;
  position: absolute;
}

#popup_overlay {
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

span.popup_link, a.popup_link {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.popup_draghandle {
  cursor: move;
}

body {
  background: #fff;
}



div#navigation h2,
div#section h2,
.access
{
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
}

div#navigation:after, 
div#section ul:after, 
div#content-wrapper:after,
{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 1px;
  height: 0;
  font-size: 1px;
}

div#navigation,
div#section ul, 
div#content,
{
  display: inline-block;
}

html[xmlns] div#navigation,
html[xmlns] div#section ul, 
html[xmlns] div#content,
{
  display: block;
}

* html div#navigation,
* html div#section ul, 
* html div#content, 
{
  height: 1%;
}

div#banner {
  height: 142px;
  background: transparent;
}

div#banner-wrapper {
  position: relative;
  width: 900px;
  height: 140px;
  margin: 0 auto;
  background: transparent  bottom right no-repeat;
}

div#banner a.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 213px;
  height: 109px;
  text-indent: -9999em;
/* top left no-repeat;*/
}

div#banner a.bety-db {
  position: absolute;
  left: 250px;
  top: 50px;
  display: block;
  width: 497px;
  height: 74px;
  text-indent: -9999em;
}

div#banner ul{
  position: absolute;
  display: block;
  top: 10px;
  right: 0px;
  width:544px;
  padding-right:15px;
  font-family:verdana, Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:10px;
}

div#banner li{
  float:right;
  text-decoration:none;
  margin:0px;
  display:block;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  list-style:none;
}

div#banner li a{
  text-decoration:none;
  color:#439539;
}

div#banner li a:hover{
  text-decoration:underline;
  color:#117BC0;
}

div#navigation {
  min-width: 800px;
  padding-bottom: 1px;
  font-family: Georgia, Georgia Ref, serif;
  font-size: 1.4em;
}

div#navigation-wrapper {
  position: relative;
  top: 0px;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1px;
  text-align: left;
  background: #b5b5b5 repeat;
  border: 1px white solid;
}


div#footer-wrapper {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 0.7em 0 1.4em 0;
  text-align: center;
  color: #034c84;
}

div#footer-wrapper ul{
  text-align: center;
  width: 480px;
  margin: 0px;
}

div#footer-wrapper li#end{
  text-decoration:none;
  border: 0px;
  color:#5c5c5c;
}

div#footer-wrapper li{
  float:left;
  text-decoration:none;
  color:#5c5c5c;
  margin:0px;
  display:block;
  text-align:center;
  list-style:none;
  padding-left:15px;
  padding-right:15px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5c5c5c;
}

div#footer-wrapper div#footer-divide {
  height:14px;
  width: 500px;
}

div#footer-wrapper div#footer-copyright {
  height:37px;
  width: 500px;
}

div#footer-wrapper div#footer-copyright div#google_translate_element {
  padding-left: 220px;
  padding-top: 7px;
}

div#footer-wrapper div#footer-logos {
  height:78px;
  width: 480px;
  position: relative;
}

div#footer-wrapper div#footer-logos div {
  position: absolute;
}

div#footer-wrapper div#footer-logos div a span {
  display:none;
}

div#footer-wrapper div#footer-logos div#bp-logo,div#bp-logo a {
  display: block;
  width: 54px;
  height: 66px;
  top: 6px;
  left: 420px;
}

div#footer-wrapper div#footer-logos div#illinois-logo,div#illinois-logo a {
  display: block;
  width:159px;
  height: 63px;
  top: 9px;
  left: 252px;
}

div#footer-wrapper div#footer-logos div#berkeley-logo,div#berkeley-logo a {
  display: block;
  width:108px;
  height: 66px;
  top: 6px;
  left: 0px;
}

div#footer-wrapper div#footer-logos div#lbl-logo,div#lbl-logo a {
  display: block;
  width: 97px;
  height: 78px;
  top: 0px;
  left: 129px;
}

div#content {
  background: white;
  min-width: 820px;
}

div#content-wrapper {
  width: 780px;
  margin: 0 auto;
  padding: 0.7em 0 2.0em 0;
  text-align: left;
}

div#content hr 
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#content-wrapper caption, th, td {
  padding: 0.3em 0.8em;
  margin: 0;
}

div#content-wrapper caption {
  font-size: 0.85em;
  text-align: center;
}

div#content-wrapper table {
/*  border: 1px solid #b3b3b3;*/
/*  margin-bottom: 50px;*/
}

div#content-wrapper th {
  border-bottom: 1px solid #0e4783;
  border-right: 1px solid #195799;
  background: #2161a5;
  color: #fff;
  font-weight: bold;
}

div#content-wrapper th[scope="row"] {
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #f6f6f6;
  background: #F7F6F2;
  color: #000;
  font-weight: normal;
}

div#content-wrapper td {
/*  border-bottom: 1px solid #e2e2e2;*/
/*  border-right: 1px solid #f6f6f6;*/
}

div#content-wrapper tr.alt td {
/*  border-bottom: 1px solid #dad8c9;*/
/*  border-right: 1px solid #eeece4;*/
/*  background: #f6f5f0;*/
}

div#content-wrapper tr.alt th[scope="row"] {
  border-bottom: 1px solid #dad8c9;
  border-right: 1px solid #eeece4;
  background: #F1F0E9;
  color: #000;
}

div#content-wrapper div.index-image {
  float: right;
  clear: both;
  background: #F1F0E9;
  padding: 10px;
  margin: 10px;
}

div#content-wrapper div#count-table {
  height: 222px;
  clear: all;
}

.centered {
  text-align: center;
}

div#process_container {
  text-align:center;
  height: 20px;
  width: 100%;
  clear: left;
}
div#process_container div#back {
  width: 33%;
  float: left;
  text-align: left;
}

div#process_container div#new {
  width: 33%;
  float: left;
  text-align: center;
}

div#process_container div#forward {
  width: 33%;
  float: left;
  text-align: right;
}

ul {
  margin-left:0px;
  padding-left:5px;
  text-align:left;
}

h1 {
  font-family:"Times New Roman", Times, serif;
  font-size:22px;
  color:#000000;
  margin-top:-10px;
}

h2 {
  font-family:Geneva, Arial, Helvetica, sans-serif;
  font-size:14pt;
  font-weight:bold;
  color:#439539;
/*  text-transform:uppercase;*/
  padding-top:15px;
  padding-bottom:0px;
}

h3 {
  font-family:Geneva, Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#0bab0a;
/*  text-transform:uppercase;*/
}


#task_button {
  float:left;
}

div.notvisible {
  display:none;
}

div#gmapscale {
  background-color: #f2efe9;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid black;
}

div#gmapscale:hover {
}

div#gmapinfowindow {
  background-color: #f2efe9;
  padding: 5px;
  margin-left: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid black;
}

div#gmapinfowindow:hover {
}

div#gmapinfowindowcontent {
  text-align:left;
}
div#gmapinfowindowcontent hr{
  position: relative;
  left: auto;
  top: auto;
  width: auto;
}

div#gmapinfowindowclose img {
  width: 12px;
  height: 12px;
  -webkit-user-select: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  padding: 0px;
  margin: 0px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10000;
  cursor: pointer; 
}

div#mapTypeControl {
  width: 250px !important;
}
div#mapTypeControl div {
  font-size: 18px !important;
}
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
