<% content_for(:autocomplete_javascript) do %>
  <%= javascript_tag do %>
    jQuery(function() {
        jQuery('#search_citations').on('keyup', search_citations);
    });

    function search_citations() {
        jQuery.get("search_citations", jQuery('#search_citations').serialize(), null, 'script');
    }
  <% end %>
<% end %>
<h1>Listing Citation Relationships</h1>
<p>
  <b>Search: </b><%= text_field_tag :search_citations %><br />

<table id="citations" class="relationships">
  <caption>Existing Citation Relationships
    <%= link_to "Update",
        { controller: :citations, action: :edit, remote: true },
        { style: "display: none" } %></caption>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Author</th>
      <th>Year</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'citations_tbody' %>
  </tbody>
</table>
