// find the link whose href ends with "citation=<the id of the citation we're linking>"
jQuery('a[href*="citation=<%= @citation.id %>"').html('<%= link_to "X",
           { :controller => :sites, :action => :rem_citations_sites,
             :id => @site.id, :citation => @citation.id },
           :remote => true %></td>');
