<div class='content' style='clear:both;'>
<div class='container'>
<table width='100%' border='0' cellpadding='0'>
 <tr>
  <td class='heading' valign='middle'><span class='header'>Table <span title='Database'>bety</span>.<span title='Schema'>public</span>.<span title='Table'>citations</span></span><div style='padding: 0px 4px;'>comment</div><p>
</td>
 </tr>
</table>
<div>
<span class='legend'>Legend:</span>
<span class='legend primaryKey'>Primary key columns</span>
<span class='legend indexedColumn'>Indexed columns</span>
</div>
<div class='sixteen colums'>
<a name='columns'></a>
<table id='columns' class='dataTable' border='1' rules='groups'>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup class='fkey'>
<colgroup class='comment'>
<thead align='left'>
<tr>
  <th>Column</th>
  <th>Type</th>
  <th>Size</th>
  <th title='Are nulls allowed?'>Nulls</th>
  <th title='Is column automatically updated?'>Auto</th>
  <th title='Default value'>Default</th>
  <th class='fkey' title='Columns in tables that are referenced by this column'><span class='notSortedByColumn fkey'>References</span></th>
  <th title='Comments' class='comment'><span class='notSortedByColumn'>Comments</span></th>
</tr>
</thead>
<tbody valign='top'>
<tr>
 <td class='primaryKey' title='Primary Key'>id</td>
 <td class='detail'>serial</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center' title='Automatically updated by the database'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='right'>nextval('citations_id_seq'::regclass)</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>id</td>
</tr>
<tr>
 <td class='detail'>author</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>last name of first author</td>
</tr>
<tr>
 <td class='detail'>year</td>
 <td class='detail'>int4</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>year of publication</td>
</tr>
<tr>
 <td class='detail'>title</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>article title</td>
</tr>
<tr>
 <td class='detail'>journal</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Journal name</td>
</tr>
<tr>
 <td class='detail'>vol</td>
 <td class='detail'>int4</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>pg</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>page range of article</td>
</tr>
<tr>
 <td class='detail'>url</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>512</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>link to article url</td>
</tr>
<tr>
 <td class='detail'>pdf</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>link to pdf version of article</td>
</tr>
<tr>
 <td class='detail'>created_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>updated_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>doi</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Digital Object Identifier</td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>user_id</td>
 <td class='detail'>int4</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'><%=link_to 'users.id',schemas_path(:partial => '
users_table')%> </td>
 <td class='comment detail'></td>
</tr>
</table>
</div>
<div class='indent'>
<b>Indexes:</b>
<table class='dataTable' border='1' rules='groups'><colgroup><colgroup><colgroup><colgroup>
<thead>
 <tr>
  <th>Column(s)</th>
  <th>Type</th>
  <th>Sort</th>
  <th class='constraint' style='text-align:left;'>Constraint Name</th>
 </tr>
</thead>
<tbody>
 <tr>
  <td class='primaryKey'>id</td>
  <td class='detail'>Primary key</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>citations_pkey</td>
 </tr>
 <tr>
  <td class='indexedColumn'>user_id</td>
  <td class='detail'>Performance</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>index_citations_on_user_id</td>
 </tr>
</table>
</div>
<label for='showone'><input type='checkbox' id='showone' class='showdiagram'>Show One Degree &nbsp;</label>
<label for='showtow'><input type='checkbox' id='showtwo' class='showdiagram'>Show Two Degrees</label>
<table width='100%' border='0'><tr><td class='container'>
<map id="oneDegreeRelationshipsDiagram" name="oneDegreeRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=citations_table" title="citations" alt="" coords="267,349,488,683">
<area shape="rect" id="node3" href="schemas?partial=users_table" title="users" alt="" coords="7,647,220,1089">
<area shape="rect" id="node4" href="schemas?partial=priors_table" title="priors" alt="" coords="537,5,644,312">
<area shape="rect" id="node6" href="schemas?partial=yields_table" title="yields" alt="" coords="535,329,647,794">
</map>
  <a name='diagram'><img id='oneDegreeImg' src='images/citations.1degree.png' usemap='#oneDegreeRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
<map id="twoDegreesRelationshipsDiagram" name="twoDegreesRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=citations_table" title="citations" alt="" coords="267,78,488,413">
<area shape="rect" id="node3" href="schemas?partial=users_table" title="users" alt="" coords="7,181,220,624">
<area shape="rect" id="node4" href="schemas?partial=dbfiles_table" title="dbfiles" alt="" coords="340,5,415,62">
<area shape="rect" id="node7" href="schemas?partial=priors_table" title="priors" alt="" coords="537,39,644,345">
<area shape="rect" id="node9" href="schemas?partial=yields_table" title="yields" alt="" coords="535,362,647,827">
<area shape="rect" id="node12" href="schemas?partial=methods_table" title="methods" alt="" coords="335,770,420,827">
<area shape="rect" id="node14" href="schemas?partial=species_table" title="species" alt="" coords="337,429,417,486">
<area shape="rect" id="node16" href="schemas?partial=treatments_table" title="treatments" alt="" coords="327,502,428,559">
</map>

  <a name='diagram'><img id='twoDegreesImg' src='images/citations.2degrees.png' usemap='#twoDegreesRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
</td></tr></table>
</div>
