<div class='content' style='clear:both;'>
<div class='container'>
<table width='100%' border='0' cellpadding='0'>
 <tr>
  <td class='heading' valign='middle'><span class='header'>Table <span title='Database'>bety</span>.<span title='Schema'>public</span>.<span title='Table'>managements</span></span></td>
 </tr>
</table>
<div>
<span class='legend'>Legend:</span>
<span class='legend primaryKey'>Primary key columns</span>
<span class='legend indexedColumn'>Indexed columns</span>
</div>
<div class='sixteen colums'>
<a name='columns'></a>
<table id='columns' class='dataTable' border='1' rules='groups'>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup class='fkey'>
<colgroup class='comment'>
<thead align='left'>
<tr>
  <th>Column</th>
  <th>Type</th>
  <th>Size</th>
  <th title='Are nulls allowed?'>Nulls</th>
  <th title='Is column automatically updated?'>Auto</th>
  <th title='Default value'>Default</th>
  <th class='fkey' title='Columns in tables that are referenced by this column'><span class='notSortedByColumn fkey'>References</span></th>
  <th title='Comments' class='comment'><span class='notSortedByColumn'>Comments</span></th>
</tr>
</thead>
<tbody valign='top'>
<tr>
 <td class='primaryKey' title='Primary Key'>id</td>
 <td class='detail'>serial</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center' title='Automatically updated by the database'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='right'>nextval('managements_id_seq'::regclass)</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>citation_id</td>
 <td class='detail'>int4</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>date</td>
 <td class='detail'>date</td>
 <td class='detail' align='right'>13</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Date on which management was conducted.</td>
</tr>
<tr>
 <td class='detail'>dateloc</td>
 <td class='detail'>numeric</td>
 <td class='detail' align='right'>4,2</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Level of confidence in value given as date. See documentation for details.</td>
</tr>
<tr>
 <td class='detail'>mgmttype</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Type of management</td>
</tr>
<tr>
 <td class='detail'>level</td>
 <td class='detail'>numeric</td>
 <td class='detail' align='right'>16,4</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Amount applied, not always required.</td>
</tr>
<tr>
 <td class='detail'>units</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>units, standardized for each management type.</td>
</tr>
<tr>
 <td class='detail'>notes</td>
 <td class='detail'>text</td>
 <td class='detail' align='right'>2147483647</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>created_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>updated_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>user_id</td>
 <td class='detail'>int4</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
</table>
</div>
<script>jQuery('.fkey').hide()</script>
<div class='indent'>
<b>Indexes:</b>
<table class='dataTable' border='1' rules='groups'><colgroup><colgroup><colgroup><colgroup>
<thead>
 <tr>
  <th>Column(s)</th>
  <th>Type</th>
  <th>Sort</th>
  <th class='constraint' style='text-align:left;'>Constraint Name</th>
 </tr>
</thead>
<tbody>
 <tr>
  <td class='primaryKey'>id</td>
  <td class='detail'>Primary key</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>managements_pkey</td>
 </tr>
 <tr>
  <td class='indexedColumn'>citation_id</td>
  <td class='detail'>Performance</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>index_managements_on_citation_id</td>
 </tr>
 <tr>
  <td class='indexedColumn'>user_id</td>
  <td class='detail'>Performance</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>index_managements_on_user_id</td>
 </tr>
</table>
</div>
</div>
