<div class='content' style='clear:both;'>
<div class='container'>
<table width='100%' border='0' cellpadding='0'>
 <tr>
  <td class='heading' valign='middle'><span class='header'>Table: <span title='Table'>managements_treatments</span></span></td>
 </tr>
</table>
<div>
<span class='legend'>Legend:</span>
<span class='legend primaryKey'>Primary key columns</span>
<span class='legend indexedColumn'>Indexed columns</span>
</div>
<div class='sixteen colums'>
<a name='columns'></a>
<table id='columns' class='dataTable' border='1' rules='groups'>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup class='fkey'>
<colgroup class='comment'>
<thead align='left'>
<tr>
  <th>Column</th>
  <th>Type</th>
  <th>Size</th>
  <th title='Are nulls allowed?'>Nulls</th>
  <th title='Is column automatically updated?'>Auto</th>
  <th title='Default value'>Default</th>
  <th class='fkey' title='Columns in tables that are referenced by this column'><span class='notSortedByColumn fkey'>References</span></th>
  <th title='Comments' class='comment'><span class='notSortedByColumn'>Comments</span></th>
</tr>
</thead>
<tbody valign='top'>
<tr>
 <td class='indexedColumn' title='Indexed'>treatment_id</td>
 <td class='detail'>int8</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'><%=link_to 'treatments.id',schemas_path(:partial => '
treatments_table')%> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>management_id</td>
 <td class='detail'>int8</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'><%=link_to 'managements.id',schemas_path(:partial => '
managements_table')%> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>created_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>updated_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>id</td>
 <td class='detail'>serial</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center' title='Automatically updated by the database'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='right'>nextval('managements_treatments_id_seq'::regclass)</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
</table>
</div>
<script>jQuery('.comment').hide()</script>
<div class='indent'>
<b>Indexes:</b>
<table class='dataTable' border='1' rules='groups'><colgroup><colgroup><colgroup><colgroup>
<thead>
 <tr>
  <th>Column(s)</th>
  <th>Type</th>
  <th>Sort</th>
  <th class='constraint' style='text-align:left;'>Constraint Name</th>
 </tr>
</thead>
<tbody>
 <tr>
  <td class='indexedColumn'>management_id + treatment_id</td>
  <td class='detail'>Must be unique</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span>/<span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>index_managements_treatments_on_management_id_and_treatment_id</td>
 </tr>
</table>
</div>
<label for='showone'><input type='checkbox' id='showone' class='showdiagram'>Show One Degree &nbsp;</label>
<label for='showtow'><input type='checkbox' id='showtwo' class='showdiagram'>Show Two Degrees</label>
<table width='100%' border='0'><tr><td class='container'>
<map id="oneDegreeRelationshipsDiagram" name="oneDegreeRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=managements_treatments_table" title="managements_treatments" alt="" coords="175,101,430,262">
<area shape="rect" id="node2" href="schemas?partial=managements_table" title="managements" alt="" coords="6,226,130,526">
<area shape="rect" id="node3" href="schemas?partial=treatments_table" title="treatments" alt="" coords="15,5,121,209">
</map>
  <a name='diagram'><img id='oneDegreeImg' src='images/managements_treatments.1degree.png' usemap='#oneDegreeRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
<map id="twoDegreesRelationshipsDiagram" name="twoDegreesRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=citations_table" title="citations" alt="" coords="132,263,217,323">
<area shape="rect" id="node2" href="schemas?partial=users_table" title="users" alt="" coords="5,263,77,323">
<area shape="rect" id="node3" href="schemas?partial=citations_treatments_table" title="citations_treatments" alt="" coords="272,159,435,219">
<area shape="rect" id="node4" href="schemas?partial=treatments_table" title="treatments" alt="" coords="122,5,227,209">
<area shape="rect" id="node5" href="schemas?partial=managements_table" title="managements" alt="" coords="291,237,415,537">
<area shape="rect" id="node6" href="schemas?partial=managements_treatments_table" title="managements_treatments" alt="" coords="479,109,734,270">
<area shape="rect" id="node7" href="schemas?partial=yields_table" title="yields" alt="" coords="317,82,389,142">
</map>

  <a name='diagram'><img id='twoDegreesImg' src='images/managements_treatments.2degrees.png' usemap='#twoDegreesRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
</td></tr></table>
</div>
