<div class='content' style='clear:both;'>
<div class='container'>
<table width='100%' border='0' cellpadding='0'>
 <tr>
  <td class='heading' valign='middle'><span class='header'>Table: <span title='Table'>pfts</span></span></td>
 </tr>
</table>
<div>
<span class='legend'>Legend:</span>
<span class='legend primaryKey'>Primary key columns</span>
<span class='legend indexedColumn'>Indexed columns</span>
</div>
<div class='sixteen colums'>
<a name='columns'></a>
<table id='columns' class='dataTable' border='1' rules='groups'>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup class='fkey'>
<colgroup class='comment'>
<thead align='left'>
<tr>
  <th>Column</th>
  <th>Type</th>
  <th>Size</th>
  <th title='Are nulls allowed?'>Nulls</th>
  <th title='Is column automatically updated?'>Auto</th>
  <th title='Default value'>Default</th>
  <th class='fkey' title='Columns in tables that are referenced by this column'><span class='notSortedByColumn fkey'>References</span></th>
  <th title='Comments' class='comment'><span class='notSortedByColumn'>Comments</span></th>
</tr>
</thead>
<tbody valign='top'>
<tr>
 <td class='primaryKey' title='Primary Key'>id</td>
 <td class='detail'>bigserial</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center' title='Automatically updated by the database'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='right'>nextval('pfts_id_seq'::regclass)</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>definition</td>
 <td class='detail'>text</td>
 <td class='detail' align='right'>2147483647</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Defines the creator and context under which the pft will be used.</td>
</tr>
<tr>
 <td class='detail'>created_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>updated_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>name</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail'></td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>pft names are unique within a given model type.</td>
</tr>
<tr>
 <td class='detail'>parent_id</td>
 <td class='detail'>int8</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'><%=link_to 'pfts.id',schemas_path(:partial => '
pfts_table')%> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>pft_type</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>'plant'::character varying</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>modeltype_id</td>
 <td class='detail'>int8</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail'></td>
 <td class='detail fkey'><%=link_to 'modeltypes.id',schemas_path(:partial => '
modeltypes_table')%> </td>
 <td class='comment detail'></td>
</tr>
</table>
</div>
<div class='indent'>
<b>Indexes:</b>
<table class='dataTable' border='1' rules='groups'><colgroup><colgroup><colgroup><colgroup>
<thead>
 <tr>
  <th>Column(s)</th>
  <th>Type</th>
  <th>Sort</th>
  <th class='constraint' style='text-align:left;'>Constraint Name</th>
 </tr>
</thead>
<tbody>
 <tr>
  <td class='primaryKey'>id</td>
  <td class='detail'>Primary key</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>pfts_pkey</td>
 </tr>
 <tr>
  <td class='indexedColumn'>name + modeltype_id</td>
  <td class='detail'>Must be unique</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span>/<span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>unique_names_per_modeltype</td>
 </tr>
</table>
</div>
<label for='showone'><input type='checkbox' id='showone' class='showdiagram'>Show One Degree &nbsp;</label>
<label for='showtow'><input type='checkbox' id='showtwo' class='showdiagram'>Show Two Degrees</label>
<table width='100%' border='0'><tr><td class='container'>
<map id="oneDegreeRelationshipsDiagram" name="oneDegreeRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=cultivars_pfts_table" title="cultivars_pfts" alt="" coords="448,5,565,137">
<area shape="rect" id="node2" href="schemas?partial=pfts_table" title="pfts" alt="" coords="157,213,403,446">
<area shape="rect" id="node5" href="schemas?partial=modeltypes_table" title="modeltypes" alt="" coords="5,383,112,539">
<area shape="rect" id="node3" href="schemas?partial=current_posteriors_table" title="current_posteriors" alt="" coords="805,109,984,313">
<area shape="rect" id="node4" href="schemas?partial=posterior_samples_table" title="posterior_samples" alt="" coords="610,191,761,395">
<area shape="rect" id="node7" href="schemas?partial=posteriors_table" title="posteriors" alt="" coords="454,191,559,347">
<area shape="rect" id="node6" href="schemas?partial=pfts_species_table" title="pfts_species" alt="" coords="450,402,563,558">
</map>
  <a name='diagram'><img id='oneDegreeImg' src='images/pfts.1degree.png' usemap='#oneDegreeRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
<map id="twoDegreesRelationshipsDiagram" name="twoDegreesRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=cultivars_table" title="cultivars" alt="" coords="579,5,664,65">
<area shape="rect" id="node2" href="schemas?partial=species_table" title="species" alt="" coords="355,39,437,99">
<area shape="rect" id="node3" href="schemas?partial=cultivars_pfts_table" title="cultivars_pfts" alt="" coords="752,62,869,194">
<area shape="rect" id="node4" href="schemas?partial=pfts_table" title="pfts" alt="" coords="273,251,519,485">
<area shape="rect" id="node10" href="schemas?partial=modeltypes_table" title="modeltypes" alt="" coords="121,361,228,517">
<area shape="rect" id="node5" href="schemas?partial=current_posteriors_table" title="current_posteriors" alt="" coords="943,270,1121,474">
<area shape="rect" id="node6" href="schemas?partial=posterior_samples_table" title="posterior_samples" alt="" coords="735,365,886,569">
<area shape="rect" id="node7" href="schemas?partial=projects_table" title="projects" alt="" coords="769,586,852,646">
<area shape="rect" id="node8" href="schemas?partial=variables_table" title="variables" alt="" coords="576,330,667,390">
<area shape="rect" id="node15" href="schemas?partial=posteriors_table" title="posteriors" alt="" coords="569,473,674,629">
<area shape="rect" id="node9" href="schemas?partial=models_table" title="models" alt="" coords="357,150,435,210">
<area shape="rect" id="node11" href="schemas?partial=users_table" title="users" alt="" coords="5,455,77,515">
<area shape="rect" id="node12" href="schemas?partial=modeltypes_formats_table" title="modeltypes_formats" alt="" coords="314,502,478,562">
<area shape="rect" id="node13" href="schemas?partial=formats_table" title="formats" alt="" coords="135,571,215,631">
<area shape="rect" id="node14" href="schemas?partial=pfts_species_table" title="pfts_species" alt="" coords="565,82,678,238">
<area shape="rect" id="node16" href="schemas?partial=posteriors_ensembles_table" title="posteriors_ensembles" alt="" coords="723,663,898,723">
</map>

  <a name='diagram'><img id='twoDegreesImg' src='images/pfts.2degrees.png' usemap='#twoDegreesRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
</td></tr></table>
</div>
