<div class='content' style='clear:both;'>
<div class='container'>
<table width='100%' border='0' cellpadding='0'>
 <tr>
  <td class='heading' valign='middle'><span class='header'>Table: <span title='Table'>posteriors</span></span></td>
 </tr>
</table>
<div>
<span class='legend'>Legend:</span>
<span class='legend primaryKey'>Primary key columns</span>
<span class='legend indexedColumn'>Indexed columns</span>
</div>
<div class='sixteen colums'>
<a name='columns'></a>
<table id='columns' class='dataTable' border='1' rules='groups'>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup class='fkey'>
<colgroup class='comment'>
<thead align='left'>
<tr>
  <th>Column</th>
  <th>Type</th>
  <th>Size</th>
  <th title='Are nulls allowed?'>Nulls</th>
  <th title='Is column automatically updated?'>Auto</th>
  <th title='Default value'>Default</th>
  <th class='fkey' title='Columns in tables that are referenced by this column'><span class='notSortedByColumn fkey'>References</span></th>
  <th title='Comments' class='comment'><span class='notSortedByColumn'>Comments</span></th>
</tr>
</thead>
<tbody valign='top'>
<tr>
 <td class='primaryKey' title='Primary Key'>id</td>
 <td class='detail'>bigserial</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center' title='Automatically updated by the database'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='right'>nextval('posteriors_id_seq'::regclass)</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>pft_id</td>
 <td class='detail'>int8</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'><%=link_to 'pfts.id',schemas_path(:partial => '
pfts_table')%> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>created_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>updated_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>format_id</td>
 <td class='detail'>int8</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'><%=link_to 'formats.id',schemas_path(:partial => '
formats_table')%> </td>
 <td class='comment detail'></td>
</tr>
</table>
</div>
<script>jQuery('.comment').hide()</script>
<div class='indent'>
<b>Indexes:</b>
<table class='dataTable' border='1' rules='groups'><colgroup><colgroup><colgroup><colgroup>
<thead>
 <tr>
  <th>Column(s)</th>
  <th>Type</th>
  <th>Sort</th>
  <th class='constraint' style='text-align:left;'>Constraint Name</th>
 </tr>
</thead>
<tbody>
 <tr>
  <td class='primaryKey'>id</td>
  <td class='detail'>Primary key</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>posteriors_pkey</td>
 </tr>
 <tr>
  <td class='indexedColumn'>pft_id</td>
  <td class='detail'>Performance</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>index_posteriors_on_pft_id</td>
 </tr>
</table>
</div>
<label for='showone'><input type='checkbox' id='showone' class='showdiagram'>Show One Degree &nbsp;</label>
<label for='showtow'><input type='checkbox' id='showtwo' class='showdiagram'>Show Two Degrees</label>
<table width='100%' border='0'><tr><td class='container'>
<map id="oneDegreeRelationshipsDiagram" name="oneDegreeRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=posterior_samples_table" title="posterior_samples" alt="" coords="450,5,601,209">
<area shape="rect" id="node2" href="schemas?partial=pfts_table" title="pfts" alt="" coords="6,77,125,305">
<area shape="rect" id="node3" href="schemas?partial=posteriors_table" title="posteriors" alt="" coords="169,186,393,347">
<area shape="rect" id="node4" href="schemas?partial=formats_table" title="formats" alt="" coords="13,322,118,574">
<area shape="rect" id="node5" href="schemas?partial=posteriors_ensembles_table" title="posteriors_ensembles" alt="" coords="438,226,613,382">
</map>
  <a name='diagram'><img id='oneDegreeImg' src='images/posteriors.1degree.png' usemap='#oneDegreeRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
<map id="twoDegreesRelationshipsDiagram" name="twoDegreesRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=cultivars_pfts_table" title="cultivars_pfts" alt="" coords="373,245,491,305">
<area shape="rect" id="node2" href="schemas?partial=pfts_table" title="pfts" alt="" coords="157,313,275,541">
<area shape="rect" id="node10" href="schemas?partial=modeltypes_table" title="modeltypes" alt="" coords="5,638,112,698">
<area shape="rect" id="node3" href="schemas?partial=current_posteriors_table" title="current_posteriors" alt="" coords="808,324,957,384">
<area shape="rect" id="node4" href="schemas?partial=posterior_samples_table" title="posterior_samples" alt="" coords="601,324,751,528">
<area shape="rect" id="node5" href="schemas?partial=variables_table" title="variables" alt="" coords="387,538,477,598">
<area shape="rect" id="node12" href="schemas?partial=posteriors_table" title="posteriors" alt="" coords="320,322,544,484">
<area shape="rect" id="node6" href="schemas?partial=formats_variables_table" title="formats_variables" alt="" coords="603,582,749,642">
<area shape="rect" id="node7" href="schemas?partial=formats_table" title="formats" alt="" coords="163,560,269,812">
<area shape="rect" id="node8" href="schemas?partial=inputs_table" title="inputs" alt="" coords="396,653,468,713">
<area shape="rect" id="node9" href="schemas?partial=modeltypes_formats_table" title="modeltypes_formats" alt="" coords="350,752,514,812">
<area shape="rect" id="node11" href="schemas?partial=pfts_species_table" title="pfts_species" alt="" coords="375,90,489,150">
<area shape="rect" id="node13" href="schemas?partial=posteriors_ensembles_table" title="posteriors_ensembles" alt="" coords="589,148,763,304">
<area shape="rect" id="node14" href="schemas?partial=ensembles_table" title="ensembles" alt="" coords="381,168,483,228">
</map>

  <a name='diagram'><img id='twoDegreesImg' src='images/posteriors.2degrees.png' usemap='#twoDegreesRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
</td></tr></table>
</div>
