<div class='content' style='clear:both;'>
<div class='container'>
<table width='100%' border='0' cellpadding='0'>
 <tr>
  <td class='heading' valign='middle'><span class='header'>Table: <span title='Table'>priors</span></span></td>
 </tr>
</table>
<div>
<span class='legend'>Legend:</span>
<span class='legend primaryKey'>Primary key columns</span>
<span class='legend indexedColumn'>Indexed columns</span>
</div>
<div class='sixteen colums'>
<a name='columns'></a>
<table id='columns' class='dataTable' border='1' rules='groups'>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup class='fkey'>
<colgroup class='comment'>
<thead align='left'>
<tr>
  <th>Column</th>
  <th>Type</th>
  <th>Size</th>
  <th title='Are nulls allowed?'>Nulls</th>
  <th title='Is column automatically updated?'>Auto</th>
  <th title='Default value'>Default</th>
  <th class='fkey' title='Columns in tables that are referenced by this column'><span class='notSortedByColumn fkey'>References</span></th>
  <th title='Comments' class='comment'><span class='notSortedByColumn'>Comments</span></th>
</tr>
</thead>
<tbody valign='top'>
<tr>
 <td class='primaryKey' title='Primary Key'>id</td>
 <td class='detail'>bigserial</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center' title='Automatically updated by the database'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='right'>nextval('priors_id_seq'::regclass)</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>citation_id</td>
 <td class='detail'>int8</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'><%=link_to 'citations.id',schemas_path(:partial => '
citations_table')%> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>variable_id</td>
 <td class='detail'>int8</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'><%=link_to 'variables.id',schemas_path(:partial => '
variables_table')%> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>phylogeny</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Used to note the group of plants for which the prior was specified, often the group of plants represented by the data used to specify the prior.</td>
</tr>
<tr>
 <td class='detail'>distn</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Name of the probability distribution, using R naming convention (e.g. 'beta','f', 'gamma', 'lnorm', 'norm', 'pois', 't', 'unif', 'weibull'.</td>
</tr>
<tr>
 <td class='detail'>parama</td>
 <td class='detail'>numeric</td>
 <td class='detail' align='right'>16,4</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>First parameter for distribution, as specified by R.</td>
</tr>
<tr>
 <td class='detail'>paramb</td>
 <td class='detail'>numeric</td>
 <td class='detail' align='right'>16,4</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Second parameter for distribution, as specified by R.</td>
</tr>
<tr>
 <td class='detail'>paramc</td>
 <td class='detail'>numeric</td>
 <td class='detail' align='right'>16,4</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>A third parameter, if required.</td>
</tr>
<tr>
 <td class='detail'>n</td>
 <td class='detail'>int4</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>number of observations used to specify prior.</td>
</tr>
<tr>
 <td class='detail'>notes</td>
 <td class='detail'>text</td>
 <td class='detail' align='right'>2147483647</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>created_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>updated_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
</table>
</div>
<div class='indent'>
<b>Indexes:</b>
<table class='dataTable' border='1' rules='groups'><colgroup><colgroup><colgroup><colgroup>
<thead>
 <tr>
  <th>Column(s)</th>
  <th>Type</th>
  <th>Sort</th>
  <th class='constraint' style='text-align:left;'>Constraint Name</th>
 </tr>
</thead>
<tbody>
 <tr>
  <td class='primaryKey'>id</td>
  <td class='detail'>Primary key</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>priors_pkey</td>
 </tr>
 <tr>
  <td class='indexedColumn'>citation_id</td>
  <td class='detail'>Performance</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>index_priors_on_citation_id</td>
 </tr>
 <tr>
  <td class='indexedColumn'>variable_id</td>
  <td class='detail'>Performance</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>index_priors_on_variable_id</td>
 </tr>
</table>
</div>
<label for='showone'><input type='checkbox' id='showone' class='showdiagram'>Show One Degree &nbsp;</label>
<label for='showtow'><input type='checkbox' id='showtwo' class='showdiagram'>Show Two Degrees</label>
<table width='100%' border='0'><tr><td class='container'>
<map id="oneDegreeRelationshipsDiagram" name="oneDegreeRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=priors_table" title="priors" alt="" coords="183,149,417,478">
<area shape="rect" id="node2" href="schemas?partial=citations_table" title="citations" alt="" coords="19,5,125,353">
<area shape="rect" id="node3" href="schemas?partial=variables_table" title="variables" alt="" coords="5,370,139,718">
</map>
  <a name='diagram'><img id='oneDegreeImg' src='images/priors.1degree.png' usemap='#oneDegreeRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
<map id="twoDegreesRelationshipsDiagram" name="twoDegreesRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=citations_table" title="citations" alt="" coords="135,172,241,520">
<area shape="rect" id="node2" href="schemas?partial=users_table" title="users" alt="" coords="5,51,77,111">
<area shape="rect" id="node3" href="schemas?partial=citations_sites_table" title="citations_sites" alt="" coords="354,243,478,303">
<area shape="rect" id="node4" href="schemas?partial=citations_treatments_table" title="citations_treatments" alt="" coords="335,320,497,380">
<area shape="rect" id="node5" href="schemas?partial=covariates_table" title="covariates" alt="" coords="367,744,465,804">
<area shape="rect" id="node6" href="schemas?partial=variables_table" title="variables" alt="" coords="121,936,255,1284">
<area shape="rect" id="node7" href="schemas?partial=current_posteriors_table" title="current_posteriors" alt="" coords="577,823,727,883">
<area shape="rect" id="node8" href="schemas?partial=posterior_samples_table" title="posterior_samples" alt="" coords="341,859,491,919">
<area shape="rect" id="node9" href="schemas?partial=formats_variables_table" title="formats_variables" alt="" coords="343,936,489,996">
<area shape="rect" id="node10" href="schemas?partial=inputs_variables_table" title="inputs_variables" alt="" coords="347,1013,485,1073">
<area shape="rect" id="node11" href="schemas?partial=likelihoods_table" title="likelihoods" alt="" coords="366,1091,466,1151">
<area shape="rect" id="node12" href="schemas?partial=managements_table" title="managements" alt="" coords="354,51,478,111">
<area shape="rect" id="node13" href="schemas?partial=methods_table" title="methods" alt="" coords="372,128,460,188">
<area shape="rect" id="node14" href="schemas?partial=priors_table" title="priors" alt="" coords="299,397,533,727">
<area shape="rect" id="node15" href="schemas?partial=trait_covariate_associations_table" title="trait_covariate_associations" alt="" coords="310,1168,522,1228">
<area shape="rect" id="node16" href="schemas?partial=yields_table" title="yields" alt="" coords="616,128,688,188">
</map>

  <a name='diagram'><img id='twoDegreesImg' src='images/priors.2degrees.png' usemap='#twoDegreesRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
</td></tr></table>
</div>
