
<script type="text/javascript">
    jQuery(function(){jQuery('#realCompactImg').show();})
</script>
<div class='content' style='clear:both;'>
<div class='container'>
<table width='100%' border='0' cellpadding='0'>
 <tr>
  <td class='heading' valign='middle'><span class='header'>Analysis of <span title='Database'>bety</span>.<span title='Schema'>public</span> - All Relationships</span></td>
 </tr>
</table>
<div>
<span class='legend'>Legend:</span>
<span class='legend primaryKey'>Primary key columns</span>
<span class='legend indexedColumn'>Indexed columns</span>
</div>
  <span title="By default only columns that are primary keys, foreign keys or indexes are shown">
    <label for='showNonKeys'><input type='checkbox' id='showNonKeys'>All columns</label>
  </span>
<map id="compactRelationshipsDiagram" name="compactRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=citations_table" title="citations" alt="" coords="478,1029,563,1131">
<area shape="rect" id="node23" href="schemas?partial=users_table" title="users" alt="" coords="315,1170,387,1273">
<area shape="rect" id="node2" href="schemas?partial=dbfiles_table" title="dbfiles" alt="" coords="451,1148,590,1319">
<area shape="rect" id="node11" href="schemas?partial=machines_table" title="machines" alt="" coords="303,1289,399,1391">
<area shape="rect" id="node3" href="schemas?partial=ensembles_table" title="ensembles" alt="" coords="298,571,405,674">
<area shape="rect" id="node25" href="schemas?partial=workflows_table" title="workflows" alt="" coords="155,428,251,553">
<area shape="rect" id="node4" href="schemas?partial=entities_table" title="entities" alt="" coords="475,187,566,290">
<area shape="rect" id="node5" href="schemas?partial=formats_table" title="formats" alt="" coords="301,729,402,831">
<area shape="rect" id="node6" href="schemas?partial=formats_variables_table" title="formats_variables" alt="" coords="637,863,781,988">
<area shape="rect" id="node24" href="schemas?partial=variables_table" title="variables" alt="" coords="475,825,566,905">
<area shape="rect" id="node7" href="schemas?partial=inputs_table" title="inputs" alt="" coords="475,637,566,808">
<area shape="rect" id="node19" href="schemas?partial=sites_table" title="sites" alt="" coords="23,539,103,642">
<area shape="rect" id="node8" href="schemas?partial=inputs_runs_table" title="inputs_runs" alt="" coords="655,443,762,546">
<area shape="rect" id="node18" href="schemas?partial=runs_table" title="runs" alt="" coords="465,449,577,597">
<area shape="rect" id="node9" href="schemas?partial=inputs_variables_table" title="inputs_variables" alt="" coords="642,739,775,842">
<area shape="rect" id="node10" href="schemas?partial=likelihoods_table" title="likelihoods" alt="" coords="658,567,759,715">
<area shape="rect" id="node12" href="schemas?partial=methods_table" title="methods" alt="" coords="473,1587,569,1690">
<area shape="rect" id="node13" href="schemas?partial=models_table" title="models" alt="" coords="18,391,109,494">
<area shape="rect" id="node14" href="schemas?partial=pfts_table" title="pfts" alt="" coords="315,295,387,375">
<area shape="rect" id="node15" href="schemas?partial=posteriors_table" title="posteriors" alt="" coords="473,307,569,432">
<area shape="rect" id="node16" href="schemas?partial=posteriors_runs_table" title="posteriors_runs" alt="" coords="642,313,775,415">
<area shape="rect" id="node17" href="schemas?partial=priors_table" title="priors" alt="" coords="658,1005,759,1131">
<area shape="rect" id="node20" href="schemas?partial=species_table" title="species" alt="" coords="481,1336,561,1416">
<area shape="rect" id="node21" href="schemas?partial=traits_table" title="traits" alt="" coords="653,5,765,289">
<area shape="rect" id="node22" href="schemas?partial=treatments_table" title="treatments" alt="" coords="470,1433,571,1535">
<area shape="rect" id="node26" href="schemas?partial=yields_table" title="yields" alt="" coords="653,1341,765,1579">
</map>

  <a name='diagram'><img id='realCompactImg' src='images/relationships.real.compact.png' usemap='#compactRelationshipsDiagram' class='diagram' border='0' alt=''></a>
<map id="largeRelationshipsDiagram" name="largeRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=citations_table" title="citations" alt="" coords="682,1995,788,2325">
<area shape="rect" id="node23" href="schemas?partial=users_table" title="users" alt="" coords="355,2432,568,2875">
<area shape="rect" id="node2" href="schemas?partial=dbfiles_table" title="dbfiles" alt="" coords="666,2341,804,2625">
<area shape="rect" id="node11" href="schemas?partial=machines_table" title="machines" alt="" coords="408,2892,515,3017">
<area shape="rect" id="node3" href="schemas?partial=ensembles_table" title="ensembles" alt="" coords="408,1139,515,1309">
<area shape="rect" id="node25" href="schemas?partial=workflows_table" title="workflows" alt="" coords="186,825,308,1154">
<area shape="rect" id="node4" href="schemas?partial=entities_table" title="entities" alt="" coords="682,483,788,653">
<area shape="rect" id="node5" href="schemas?partial=formats_table" title="formats" alt="" coords="408,1546,515,1785">
<area shape="rect" id="node6" href="schemas?partial=formats_variables_table" title="formats_variables" alt="" coords="902,1711,1046,1950">
<area shape="rect" id="node24" href="schemas?partial=variables_table" title="variables" alt="" coords="682,1642,788,1881">
<area shape="rect" id="node7" href="schemas?partial=inputs_table" title="inputs" alt="" coords="679,1273,791,1625">
<area shape="rect" id="node19" href="schemas?partial=sites_table" title="sites" alt="" coords="27,1140,134,1673">
<area shape="rect" id="node8" href="schemas?partial=inputs_runs_table" title="inputs_runs" alt="" coords="920,1008,1027,1133">
<area shape="rect" id="node18" href="schemas?partial=runs_table" title="runs" alt="" coords="674,835,796,1232">
<area shape="rect" id="node9" href="schemas?partial=inputs_variables_table" title="inputs_variables" alt="" coords="907,1555,1040,1680">
<area shape="rect" id="node10" href="schemas?partial=likelihoods_table" title="likelihoods" alt="" coords="918,1205,1030,1467">
<area shape="rect" id="node12" href="schemas?partial=methods_table" title="methods" alt="" coords="682,4933,788,5104">
<area shape="rect" id="node13" href="schemas?partial=models_table" title="models" alt="" coords="22,833,139,1049">
<area shape="rect" id="node14" href="schemas?partial=pfts_table" title="pfts" alt="" coords="408,625,515,773">
<area shape="rect" id="node15" href="schemas?partial=posteriors_table" title="posteriors" alt="" coords="682,670,788,818">
<area shape="rect" id="node16" href="schemas?partial=posteriors_runs_table" title="posteriors_runs" alt="" coords="907,752,1040,877">
<area shape="rect" id="node17" href="schemas?partial=priors_table" title="priors" alt="" coords="920,1973,1027,2280">
<area shape="rect" id="node20" href="schemas?partial=species_table" title="species" alt="" coords="615,2641,855,4671">
<area shape="rect" id="node21" href="schemas?partial=traits_table" title="traits" alt="" coords="918,5,1030,675">
<area shape="rect" id="node22" href="schemas?partial=treatments_table" title="treatments" alt="" coords="682,4687,788,4881">
<area shape="rect" id="node26" href="schemas?partial=yields_table" title="yields" alt="" coords="918,4523,1030,4989">
</map>

  <a name='diagram'><img id='realLargeImg' src='images/relationships.real.large.png' usemap='#largeRelationshipsDiagram' class='diagram' border='0' alt=''></a>
</div>
</div>
<script type="text/javascript">	jQuery("#showNonKeys").click(function () {
  jQuery('.diagram').hide();
  var showNonKeys = jQuery('#showNonKeys').attr('checked'); 
  if (showNonKeys && jQuery('#realLargeImg').size() > 0) 
    jQuery('#realLargeImg').show();
  else 
    jQuery('#realCompactImg').show();       
})</script>