<div class='content' style='clear:both;'>
<div class='container'>
<table width='100%' border='0' cellpadding='0'>
 <tr>
  <td class='heading' valign='middle'><span class='header'>Table: <span title='Table'>users</span></span></td>
 </tr>
</table>
<div>
<span class='legend'>Legend:</span>
<span class='legend primaryKey'>Primary key columns</span>
<span class='legend indexedColumn'>Indexed columns</span>
</div>
<div class='sixteen colums'>
<a name='columns'></a>
<table id='columns' class='dataTable' border='1' rules='groups'>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup class='fkey'>
<colgroup class='comment'>
<thead align='left'>
<tr>
  <th>Column</th>
  <th>Type</th>
  <th>Size</th>
  <th title='Are nulls allowed?'>Nulls</th>
  <th title='Is column automatically updated?'>Auto</th>
  <th title='Default value'>Default</th>
  <th class='fkey' title='Columns in tables that are referenced by this column'><span class='notSortedByColumn fkey'>References</span></th>
  <th title='Comments' class='comment'><span class='notSortedByColumn'>Comments</span></th>
</tr>
</thead>
<tbody valign='top'>
<tr>
 <td class='primaryKey' title='Primary Key'>id</td>
 <td class='detail'>bigserial</td>
 <td class='detail' align='right'>19</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='center' title='Automatically updated by the database'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='right'>nextval('users_id_seq'::regclass)</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='indexedColumn' title='Indexed'>login</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>40</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>login id</td>
</tr>
<tr>
 <td class='detail'>name</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>100</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>''::character varying</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>User name</td>
</tr>
<tr>
 <td class='detail'>email</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>100</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>email address</td>
</tr>
<tr>
 <td class='detail'>city</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>country</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>area</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>crypted_password</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>40</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>salt</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>40</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>created_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>updated_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>remember_token</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>40</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>remember_token_expires_at</td>
 <td class='detail'>timestamp</td>
 <td class='detail' align='right'>29,6</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>access_level</td>
 <td class='detail'>int4</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>data to which user has access</td>
</tr>
<tr>
 <td class='detail'>page_access_level</td>
 <td class='detail'>int4</td>
 <td class='detail' align='right'>10</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'>Determines the extent of data, if any, that user can edit.</td>
</tr>
<tr>
 <td class='detail'>apikey</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>state_prov</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
<tr>
 <td class='detail'>postal_code</td>
 <td class='detail'>varchar</td>
 <td class='detail' align='right'>255</td>
 <td class='detail' align='center' title='nullable'>&nbsp;&radic;&nbsp;</td>
 <td class='detail' align='center'>&nbsp;&chi;&nbsp;</td>
 <td class='detail' align='right'>null</td>
 <td class='detail fkey'> </td>
 <td class='comment detail'></td>
</tr>
</table>
</div>
<script>jQuery('.fkey').hide()</script>
<div class='indent'>
<b>Indexes:</b>
<table class='dataTable' border='1' rules='groups'><colgroup><colgroup><colgroup><colgroup>
<thead>
 <tr>
  <th>Column(s)</th>
  <th>Type</th>
  <th>Sort</th>
  <th class='constraint' style='text-align:left;'>Constraint Name</th>
 </tr>
</thead>
<tbody>
 <tr>
  <td class='primaryKey'>id</td>
  <td class='detail'>Primary key</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>users_pkey</td>
 </tr>
 <tr>
  <td class='indexedColumn'>login</td>
  <td class='detail'>Must be unique</td>
  <td class='detail' style='text-align:left;'><span title='Ascending'>Asc</span></td>
  <td class='constraint' style='text-align:left;'>index_users_on_login</td>
 </tr>
</table>
</div>
<label for='showone'><input type='checkbox' id='showone' class='showdiagram'>Show One Degree &nbsp;</label>
<label for='showtow'><input type='checkbox' id='showtwo' class='showdiagram'>Show Two Degrees</label>
<table width='100%' border='0'><tr><td class='container'>
<map id="oneDegreeRelationshipsDiagram" name="oneDegreeRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=citations_table" title="citations" alt="" coords="406,728,511,1076">
<area shape="rect" id="node2" href="schemas?partial=users_table" title="users" alt="" coords="6,794,343,1268">
<area shape="rect" id="node3" href="schemas?partial=dbfiles_table" title="dbfiles" alt="" coords="389,45,529,345">
<area shape="rect" id="node4" href="schemas?partial=inputs_table" title="inputs" alt="" coords="401,362,516,710">
<area shape="rect" id="node5" href="schemas?partial=managements_table" title="managements" alt="" coords="594,53,718,353">
<area shape="rect" id="node6" href="schemas?partial=modeltypes_table" title="modeltypes" alt="" coords="405,1172,512,1328">
<area shape="rect" id="node7" href="schemas?partial=modeltypes_formats_table" title="modeltypes_formats" alt="" coords="574,1198,738,1450">
<area shape="rect" id="node8" href="schemas?partial=yields_table" title="yields" alt="" coords="599,689,713,1181">
</map>
  <a name='diagram'><img id='oneDegreeImg' src='images/users.1degree.png' usemap='#oneDegreeRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
<map id="twoDegreesRelationshipsDiagram" name="twoDegreesRelationshipsDiagram">
<area shape="rect" id="node1" href="schemas?partial=citations_table" title="citations" alt="" coords="406,402,511,750">
<area shape="rect" id="node2" href="schemas?partial=users_table" title="users" alt="" coords="6,1115,343,1589">
<area shape="rect" id="node3" href="schemas?partial=citations_sites_table" title="citations_sites" alt="" coords="594,550,718,610">
<area shape="rect" id="node4" href="schemas?partial=citations_treatments_table" title="citations_treatments" alt="" coords="803,345,965,405">
<area shape="rect" id="node5" href="schemas?partial=treatments_table" title="treatments" alt="" coords="606,322,706,382">
<area shape="rect" id="node6" href="schemas?partial=cultivars_table" title="cultivars" alt="" coords="613,665,699,725">
<area shape="rect" id="node7" href="schemas?partial=species_table" title="species" alt="" coords="418,767,499,827">
<area shape="rect" id="node8" href="schemas?partial=dbfiles_table" title="dbfiles" alt="" coords="389,1253,529,1553">
<area shape="rect" id="node9" href="schemas?partial=machines_table" title="machines" alt="" coords="127,1606,222,1666">
<area shape="rect" id="node10" href="schemas?partial=inputs_table" title="inputs" alt="" coords="401,1607,516,1955">
<area shape="rect" id="node11" href="schemas?partial=formats_table" title="formats" alt="" coords="135,1789,215,1849">
<area shape="rect" id="node12" href="schemas?partial=inputs_runs_table" title="inputs_runs" alt="" coords="603,1530,709,1590">
<area shape="rect" id="node13" href="schemas?partial=inputs_variables_table" title="inputs_variables" alt="" coords="587,1607,725,1667">
<area shape="rect" id="node14" href="schemas?partial=likelihoods_table" title="likelihoods" alt="" coords="606,1685,706,1745">
<area shape="rect" id="node15" href="schemas?partial=managements_table" title="managements" alt="" coords="594,5,718,305">
<area shape="rect" id="node16" href="schemas?partial=managements_treatments_table" title="managements_treatments" alt="" coords="783,126,985,186">
<area shape="rect" id="node17" href="schemas?partial=methods_table" title="methods" alt="" coords="612,742,700,802">
<area shape="rect" id="node18" href="schemas?partial=models_table" title="models" alt="" coords="617,819,695,879">
<area shape="rect" id="node19" href="schemas?partial=modeltypes_table" title="modeltypes" alt="" coords="405,937,512,1093">
<area shape="rect" id="node20" href="schemas?partial=modeltypes_formats_table" title="modeltypes_formats" alt="" coords="574,974,738,1226">
<area shape="rect" id="node21" href="schemas?partial=pfts_table" title="pfts" alt="" coords="620,897,692,957">
<area shape="rect" id="node22" href="schemas?partial=priors_table" title="priors" alt="" coords="620,473,692,533">
<area shape="rect" id="node23" href="schemas?partial=yields_table" title="yields" alt="" coords="827,473,941,965">
</map>

  <a name='diagram'><img id='twoDegreesImg' src='images/users.2degrees.png' usemap='#twoDegreesRelationshipsDiagram' class='diagram' border='0' alt='' align='left'></a>
</td></tr></table>
</div>
