<script type="text/javascript">jQuery(function(){jQuery(".dataTable").removeClass("dataTable").addClass("table table-striped table-bordered table-hover datatable dataTable");jQuery(".even").removeClass("even");jQuery(".odd").removeClass("odd")});</script>
<div class='content' style='clear:both;'>
<div class='container'>
<%= render @partial %>
</div>
</div>