<% content_for(:autocomplete_javascript) do %>
  <%= javascript_tag do %>
    jQuery(function() {
        jQuery('#search_treatments').on('keyup', search_treatments);
    });

    function search_treatments() {
        jQuery.get("search_treatments", jQuery('#search_treatments').serialize(), null, 'script');
    }
  <% end %>
<% end %>
<h1>Listing Treatments Relationships</h1>
<p>
  <b>Search: </b><%= text_field_tag :search_treatments %><br />

<table id="treatments" class="relationships">
  <caption>Existing Treatments Relationships
    <%= link_to "Update",
        { controller: :managements, action: :edit, remote: true },
        { style: "display: none" } %></caption>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Definition</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'treatments_tbody' %>
  </tbody>
</table>
